.menuLink div {
  width: 0;
  transition: all 333ms ease;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
}

.menuLink:hover div, .menuLink:focus div, .menuLink:active div {
  width: 100%;
}
