.svgHover {
  width: 100%;
  text-rendering: geometricPrecision;
  font-family: GilroyBlock, Gilroy, sans-serif;
  letter-spacing: 0.03em;
}

.svgHoverText {
  @apply font-bold;
  @apply uppercase;
  @apply font-sans;
  font-size: 1em;
}

.svgHoverStroke {
  fill: none;
  stroke: currentColor;
  stroke-width: 0.02857142857142857em; /* 4px at text-3xl (70px) */
}

.svgHoverOutline {
  fill: none;
  stroke: currentColor;
  stroke-width: 0.007142857142857143em; /* 1px at text-3xl (70px) */
}

.svgHoverFill {
  fill: currentColor;
}
