.portfolioCard {
  max-width: 28rem;
  max-width: calc(min(28rem, 50vw));
  max-width: calc(min(min(28rem, 50vw), 60vh));
}

.horizontalPortfolioCard {
  max-width: 42rem;
  max-width: calc(min(42rem, 75vw));
  max-width: calc(min(min(42rem, 75vw), 90vh));
}
