.outlined-link {
  text-stroke: 0.1875rem black;
  -ms-text-stroke: 0.1875rem black;
  -webkit-text-stroke: 0.1875rem black;
}

.outlined-link:hover,
.outlined-link:focus,
.outlined-link:active {
  text-stroke: 0px transparent;
  -ms-text-stroke: 0px transparent;
  -webkit-text-stroke: 0px transparent;
  color: black;
}
