.hoverLink, .hoverLink * {
  -webkit-tap-highlight-color: transparent;
}

.hoverLink div {
  width: 0;
  transition: all 333ms ease;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  @apply bg-black;
}

.hoverLink:hover div,
.hoverLink:focus div,
.hoverLink:active div {
  width: 100%;
}

.hoverLink.active div {
  @apply bg-fuchsia;
  width: 100%;
}
